body{
    background-color: aliceblue;
}

h1{
    text-align: center;
    background-color: gainsboro;
}

li{
    list-style-type: none;
    margin: 5px;
    display: inline-block;
    color: black;
}

#container{
    display: flex;
    justify-content: center;
    background-color: gray;
}

a{
    color: black;
    text-decoration: none;
}