body{
    background-color: black;
    color: white;
}

.header{
    background-color: rgb(238, 229, 217);
    border-radius:23px;
    margin: 0;
    color: black;
}

.header h2{
    text-align: left;
    padding: 10px;
    
}

.intro{
    text-align: center;
}

#formulario{
    border: 2px solid white;
}

textarea{
    height: 100px;
    width: 200px;
}