body{
    background-color: black;
    color: white;
}

.header{
    background-color: rgb(238, 229, 217);
    border-radius:23px;
    margin: 0;
    color: black;
}

.header h2{
    text-align: left;
    padding: 10px;
    
}

.intro{
    text-align: center;
}

.quiz{
    margin-bottom: 20px;
}

.pergunta{
    border: 2px solid white;
    margin-top: 15px;
}

#enviar{
    background-color: lime;
    cursor: pointer;
    padding: 10px 15px;
}

#acerto{
    color: white;
}