body{
    background-color: black;
}

.header{
    background-color: rgb(238, 229, 217);
    border-radius:23px;
    margin: 0;
}

.header h2{
    text-align: left;
    padding: 10px;
    
}

.intro{
    text-align: center;
    color: white;
}

#darkMode{
    text-align: right;
    font-size: 1.2em;
    cursor: pointer;
    display: inline;
}

.aulas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}

.aula{
    border: 2px solid greenyellow;
    background-color: darkslategray;
    transition: 0.3s;
    box-shadow: 1px 2px 3px;
    height: 250px;
    cursor: pointer;
}

.aula h3, a:link, a:visited{
    text-align: center;
    text-decoration: none;
    color: white;
}

.aula:hover{
    transform: scale(1.03);
    background-color: #60acbb;
}
.aula:active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(3);
}

.questionarios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin-top: 20px;
}

.questionario{
    border: 2px solid greenyellow;
    background-color: darkslategray;
    transition: 0.3s;
    box-shadow: 1px 2px 3px;
    height: 250px;
    cursor: pointer;
}

.questionario h3, a:link, a:visited{
    text-align: center;
    text-decoration: none;
    color: white;
}

.questionario:hover{
    transform: scale(1.03);
    background-color: #60acbb;
}