body{
    background-color: aliceblue;
}

.header{
    background-color: rgb(238, 229, 217);
    border-radius:23px;
    margin: 0;
}

.header h2{
    text-align: left;
    padding: 10px;
    
}

h1{
    text-align: center;
}

#intro{
    text-align: center;
}

.lista{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 15px;
}

.item{
    border: 2px solid black;
    background-color: rgb(151, 189, 198);  /*rgb(213, 120, 86);    #c19a6c*/
    transition: 0.3s;
    box-shadow: 1px 2px 3px;
}

.item:hover{
    transform: scale(1.15);
    box-shadow: 3px 3px 5px;
}

.item h4, .item p, a:link, a:visited{
    text-align: center;
    text-decoration: none;
    color: black;
}

@media (max-width: 1400px) {
    .lista{
      grid-template-columns: 1fr 1fr 1fr;
    } 
}

@media (max-width: 1000px) {
    .lista{
      grid-template-columns: 1fr 1fr;
    } 
}

@media (max-width: 600px) {
    .lista{
      grid-template-columns: 1fr;
    } 
}